#main-content {
    padding: 30px;
    padding-left: 50px;
}

#files-content {
    margin-top: 70px;
}

.navigator-button svg {
    width: 40px;
    height: 40px;
}

.navigator-field {
    margin-top: 50px;
    text-align: center;
}